BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 180

AlwaysBreakTemplateDeclarations: No
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

SpaceBeforeParens: ControlStatements
PointerAlignment: Left
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup

Cpp11BracedListStyle: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true