# JetBrains IDE
.idea/*
!.idea/codeStyles/
!.idea/fileTemplates/
!.idea/copyright/
!.idea/scopes/

# CLion CMake Build
cmake-build-*/

# Visual Studio Code
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Visual Studio
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build and Debug folders for Visual Studio
[Bb]in/
bin-int/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app