[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/concurrentqueue"]
	path = vendor/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
